n8n-workflows/01-daily-content-collector.json
{
  "name": "ModulorIA - Recolector Diario de Contenido",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Diario 8:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "url": "https://www.constructiondive.com/feeds/news/"
      },
      "id": "rss-construction-dive",
      "name": "Construction Dive",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "https://www.enr.com/rss/all_stories"
      },
      "id": "rss-enr",
      "name": "ENR News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 150]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/"
      },
      "id": "rss-techcrunch",
      "name": "TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://builtworlds.com/feed/"
      },
      "id": "rss-builtworlds",
      "name": "BuiltWorlds",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [220, 450]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-feeds",
      "name": "Combinar Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [460, 200]
    },
    {
      "parameters": {
        "jsCode": "// Filtrar noticias de las ultimas 24 horas\nconst allItems = $input.all();\nconst now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst news = allItems\n  .map(item => ({\n    title: item.json.title || 'Sin titulo',\n    link: item.json.link || item.json.guid || '',\n    description: (item.json.contentSnippet || item.json.description || '').substring(0, 500),\n    pubDate: item.json.pubDate || item.json.isoDate || new Date().toISOString(),\n    source: detectSource(item.json.link || '')\n  }))\n  .filter(item => {\n    if (!item.pubDate) return true;\n    const pubDate = new Date(item.pubDate);\n    return pubDate >= yesterday;\n  })\n  .slice(0, 20);\n\nfunction detectSource(url) {\n  if (url.includes('constructiondive')) return 'Construction Dive';\n  if (url.includes('enr.com')) return 'ENR';\n  if (url.includes('techcrunch')) return 'TechCrunch';\n  if (url.includes('builtworlds')) return 'BuiltWorlds';\n  return 'Otra fuente';\n}\n\n// Preparar para AI\nconst newsForAI = news.map((n, i) => \n  `${i + 1}. ${n.title}\\n   ${n.description}\\n   Fuente: ${n.source}`\n).join('\\n\\n');\n\nreturn [{\n  json: {\n    newsForAI,\n    newsCount: news.length,\n    rawNews: news\n  }\n}];"
      },
      "id": "code-prepare",
      "name": "Preparar Noticias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un curador de contenido para ModulorIA, una empresa de automatizacion con IA para construccion modular.\n\nTu tarea: Analizar noticias y seleccionar SOLO las relevantes para profesionales de construccion modular que quieren implementar IA/automatizacion.\n\nCriterios de seleccion:\n1. Relevancia para construccion, arquitectura, o industria de la construccion\n2. Innovacion en IA aplicada a industrias similares\n3. Automatizacion de procesos empresariales\n4. Tendencias tecnologicas aplicables a PYMES\n\nPara cada noticia relevante, devuelve:\n- titulo: titulo original o mejorado\n- url: link original\n- fuente: nombre de la fuente\n- resumen: 2-3 oraciones explicando por que es util para una constructora\n- categoria: Construccion | IA | Modular | Industria\n\nDevuelve un JSON array con las noticias filtradas (maximo 5 mas relevantes).\nFormato: [{\"titulo\": \"...\", \"url\": \"...\", \"fuente\": \"...\", \"resumen\": \"...\", \"categoria\": \"...\"}]"
            },
            {
              "role": "user",
              "content": "=Analiza estas noticias y selecciona las relevantes para construccion modular + IA:\n\n{{ $json.newsForAI }}\n\nDevuelve SOLO el JSON array con las noticias filtradas."
            }
          ]
        }
      },
      "id": "openai-filter",
      "name": "AI Filtrar Relevantes",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [900, 200],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta del AI\nconst aiResponse = $input.first().json.message?.content || '[]';\n\nlet articles;\ntry {\n  // Limpiar respuesta (quitar markdown si existe)\n  const cleanJson = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  articles = JSON.parse(cleanJson);\n} catch (e) {\n  console.log('Error parsing AI response:', e);\n  return [];\n}\n\nif (!Array.isArray(articles)) {\n  return [];\n}\n\n// Retornar cada articulo como item separado para el loop\nreturn articles.map(article => ({\n  json: {\n    titulo: article.titulo || 'Sin titulo',\n    url: article.url || '',\n    fuente: article.fuente || 'Desconocida',\n    resumen: article.resumen || '',\n    categoria: article.categoria || 'Industria',\n    fechaRecoleccion: new Date().toISOString()\n  }\n}));"
      },
      "id": "code-parse",
      "name": "Parsear Articulos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "061483b8b89b48d0beece04cbefb2300",
          "mode": "id"
        },
        "title": "={{ $json.titulo }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "URL",
              "urlValue": "={{ $json.url }}"
            },
            {
              "key": "Fuente",
              "textValue": "={{ $json.fuente }}"
            },
            {
              "key": "Fecha Recolección|date",
              "dateValue": "={{ $json.fechaRecoleccion }}"
            },
            {
              "key": "Resumen AI",
              "textValue": "={{ $json.resumen }}"
            },
            {
              "key": "Usado|checkbox",
              "checkboxValue": false
            },
            {
              "key": "Categoría|select",
              "selectValue": "={{ $json.categoria }}"
            }
          ]
        }
      },
      "id": "notion-save",
      "name": "Guardar en Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1340, 200],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "Diario 8:00 AM": {
      "main": [
        [
          { "node": "Construction Dive", "type": "main", "index": 0 },
          { "node": "ENR News", "type": "main", "index": 0 },
          { "node": "TechCrunch AI", "type": "main", "index": 0 },
          { "node": "BuiltWorlds", "type": "main", "index": 0 }
        ]
      ]
    },
    "Construction Dive": {
      "main": [
        [{ "node": "Combinar Feeds", "type": "main", "index": 0 }]
      ]
    },
    "ENR News": {
      "main": [
        [{ "node": "Combinar Feeds", "type": "main", "index": 1 }]
      ]
    },
    "TechCrunch AI": {
      "main": [
        [{ "node": "Combinar Feeds", "type": "main", "index": 2 }]
      ]
    },
    "BuiltWorlds": {
      "main": [
        [{ "node": "Combinar Feeds", "type": "main", "index": 3 }]
      ]
    },
    "Combinar Feeds": {
      "main": [
        [{ "node": "Preparar Noticias", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Noticias": {
      "main": [
        [{ "node": "AI Filtrar Relevantes", "type": "main", "index": 0 }]
      ]
    },
    "AI Filtrar Relevantes": {
      "main": [
        [{ "node": "Parsear Articulos", "type": "main", "index": 0 }]
      ]
    },
    "Parsear Articulos": {
      "main": [
        [{ "node": "Guardar en Notion", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "ModulorIA" },
    { "name": "Newsletter" },
    { "name": "Diario" }
  ]
}
